<% layout('layouts/boilerplate') %>

<div class="row mb-3">
    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= campground.location %></li>
              <li class="list-group-item">₹ <%= campground.price %> / night</li>
            </ul>
            <div class="card-body row">
                <div class="col-6">
                    <a href="/campgrounds/<%=campground.id%>/edit" class="card-link btn btn-info w-100">Edit</a>
                </div>
                <form class="d-inline col-6" action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger w-100">Delete</button>
                </form>
            </div>
        </div>
        <h2>Leave a Review</h2>
        <form action="/campgrounds/<%=campground.id%>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
            <div class="mb-3">
                <label for="rating"  class="form-label">Rating</label>
                <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
            </div>
            <div class="mb-3">
                <label for="body"  class="form-label">Review</label>
                <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"></textarea>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>