<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= campground.title %> </title>
</head>
<body>
    <h1>
        <%= campground.title %>
    </h1>    
    <p>
        <%= campground.location  %>
    </p>
    <footer>
        <p>
            <a href="/campgrounds/<%=campground.id%>/edit">Edit</a>
        </p>
        <p>
            <form action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
        </p>
        <p>
            <a href="/campgrounds">All Campgrounds</a>
        </p>
    </footer>
</body>
</html>